body {
    background-color: black;
    min-height: 100vh;
    width: 1920px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.line1 {
    font-size:0;
    display:block;
}

.line {
    display: block;
}


/* figure .bike { */
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto;
} */

/* figure { */
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; */
/* } */

.bike {
    width: 963px;
    height: 717px;
    display: inline;
    float:left;
}

.donut {
    display: inline;
    float:left;
    width: 957px;
    height: 500px;
}

.pink {
    display: inline;
    float:left;
    width: 389px;
    height: 872px;
    margin-left: 0;
}

/* body {
    background-image: url("images/Bike.png");
    background-repeat: no-repeat; */
    /* background-position: center; */
  /* } */